body {
    text-align: center;
    font-family: 'Anime Inept';
    background-image: url(./images/2569564.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
  }
  
  body h1 {
    font-size: 30px;
    text-transform: uppercase;
  }
  
  body button {
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  #timerTag {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
  }
  
  #timer {
    font-size: 90px;
    padding: 12px 20px;
  }

  #timerInput {
    border-top: 0;
    border-bottom: 3;
    border-width: 2px;
    border-left: 0;
    border-right: 0;
    border-color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    width: 90px;
    height: 80px;
    font-size: 90px;
    font-family: 'Anime Inept';
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
  }

  #timerInput::placeholder {
    color: rgba(0, 0, 0, 0.69);
    font-size: 90px;
    font-family: 'Anime Inept';
    font-style: italic;
  }

  #title {
    font-family: "Anime Inept";
    font-size: 100px;
  }

  #start-button {
    padding: 10px;
    margin: 10px;
  }

  #homepage {
    padding: 10px;
    margin: 10px;
  }

  #scoreBoard {
    position: absolute;
    width: 30%;
    margin-left: 15px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    border:10px solid #000;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  ul {
    display: flex;
    list-style: none;
    
  }

  li {
    text-align: left;
    border: 1px solid black;
    padding-right: 0px;
    padding-left: 28px;
    border-radius: 5px;
  }

  .scoreBoardPlayer {
    width: 90%;
    margin: 5px;
  }

  .goalkeeperScore {
    width: 20%;
    margin: 5px;
  }

  .shooterScore {
    width: 20%;
    margin: 5px;
  }
  



  